<!DOCTYPE html>
<html>
  <head>
    <title>ASCENT2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <hi class="heading">
        <a href="/">ASCENT</a>
      </hi>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="/it_passports">ITパスポート</a>
          </li>
          <li class="nav-list-item">
            <a>サーバー</a>
          </li>
          <li class="nav-list-item">
            <a>ネットワーク</a>
          </li>
          <li class="nav-list-item">
            <a>JavaScript</a>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
